@media (min-width: 1800px) {
    .container{
        max-width: 1400px;
    }
}
@media (min-width: 2500px) {
    .container{
        max-width: 2000px;
    }
}
#videochat-row {
  padding-bottom: 10px;
}
#stream-player {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#stream-player:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
#stream-player > div:not(#muted-overlay) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#muted-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px 3px 5px;
  display: inline;
  text-align: right;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}
#muted-overlay:hover {
  font-weight: bold;
}
#stream-stats {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #FFFFFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
}
#stream-bandwidth {
  float: right;
  display: none;
}
.false-link {
  cursor: pointer;
}
#stream-lowerbox {
  color: white;
  width: fit-content;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 100px;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 1.9em;
}
#lowerbox-countdown {
  font-weight: bold;
}
#lowerbox-countdown-value {
  display: inline-block;
}
.info-pane {
  font-size: 0.9em;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: 5px;
}
.info-paragraph-top {
  margin-top: 4px;
  padding-left: 5px;
  margin-bottom: 12px;
}
.info-paragraph {
  padding-left: 8px;
  margin-bottom: 18px;
}
.schedule-paragraph {
  padding-left: 8px;
  margin-bottom: 18px;
}
.station-elevation-visible {
  display: inline-block;
  /*font-size: 14px;*/
  opacity: 1.0;
  color: green;
  font-weight: bold;
}
.station-elevation-horizon {
  display: inline-block;
  font-size: 14x;
  opacity: 1.0;
  color: orange;
  font-weight: bold;
}
.station-elevation-occluded {
  display: inline-block;
  /*font-size: 14px;*/
  opacity: 0.7;
}
#twitter-credit {
  font-size: 10px;
  color: grey;
  text-align: center;
}
.loading {
  height: 14px;
  width: 14px;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
.fast-loading {
  height: 14px;
  width: 14px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { 
    -moz-transform:rotate(360deg); 
  }
}
@-webkit-keyframes spin { 100% { 
    -webkit-transform:rotate(360deg); 
  }
}
@keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
#holding-text {
  color: #666;
}