.wrapper {
  padding: 0px;
  height: 800px;
  width: 1280px;
  border: thin solid #999;
  background-color: white;
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
body {
  padding: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #000;
  font-size: 100%;
}
.inputbar {
  background-color: #a7caf0;
  float: left;
  height: 125px;
  left: 0;
  position: absolute;
  top: 630px;
  width: 100%;
}
#isstracker {
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  height: 1220px;
  left: -20px;
  position: relative;
  top: -80px;
  width: 1100px;
}	
.isstracker {
  background-color: #fff;
  height: 583px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
  overflow:hidden;
  border-bottom: 3px solid #246993;
}

#locationdata  {
  background-color: #fff;
  border: 3px solid #246993;
  border-radius: 20px;
  color: #246993;
  float: left;
  font-family: "Arial",sans-serif;
  font-size: 1.3em;
  height: 102px;
  left: 355px;
  padding: 5px 12px 20px;
  position: absolute;
  top: 490px;
  width: 450px;
  white-space:nowrap
}
#locationdata th {
  font-weight: bold;	
  text-align: right;
}

#locationdata td {
  margin-right:10px;
  width: 105px;
  text-align: left;
  padding-left: 0px;
}
#localreceivemonitor {
  -moz-transform: scale(0.83, 0.83);
  -webkit-transform: scale(0.83, 0.83);
  -o-transform: scale(0.83, 0.83);
  -ms-transform: scale(0.83, 0.83);
  transform: scale(0.83, 0.83);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  height: 1200px;
  left: -110px;
  position: relative;
  top: -62px;
  transform-origin: left top 0;
  width: 1100px;
}
.webcam-online {
  transform: scale(0.38, 0.38);
  -moz-transform: scale(0.38, 0.38);
  -webkit-transform: scale(0.38, 0.38);
  -o-transform: scale(0.38, 0.38);
  -ms-transform: scale(0.38, 0.38);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  height: 1024px;
  left: -60px;
  position: relative;
  top: -45px;
  transform-origin: left top 0;
  width: 1280px;
  background-color: black;
}
.webcam-offline {
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  height: 240px;
  left: 0px;
  position: relative;
  width: 320px;
  background-color: black;
  background-image: url(webcam-offline.png);
}
.monitor  {
  background-color: #a7caf0;
  height: 170px;
  overflow: hidden;
  width: 100%;
  font-family: "Arial",sans-serif;
}
#webcam {
  background-color: #fff;
  border: 3px solid #246993;
  height: 240px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 380px;
  width: 320px;
}
#webcam-label {
  background-color: #246993;
  border-radius: 0px;
  color: #fff;
  float: left;
  font-family: "Arial Black",sans-serif;
  font-size: 1em;
  font-weight: bolder;
  left: 20px;
  padding: 7px 15px;
  position: absolute;
  top: 643px;
}
#localtime  {
  margin-top: 5px;
  margin-bottom: 5px;
}
#tt-container {
  padding-top: 10px;
  padding-left: 2.0em;
  height: 100%;
  width: 75%;
  border-style: solid;
  border-color: grey;
  border-width: 0px 1px 0px 0px;
}
#tt-status {
  float: right;
  width: 200px;
  padding-top: 2.5em;
  padding-left: 0.8em;
  padding-right: 0.7em;
  text-align: center;
  display:inline;
}
.tt-monitor-graph {
  margin-top: 8px;
  margin-bottom: 21px;
  width: 260px;
  height: 8px;
}
#tt-monitor-constellation {
  float: right;
  width: 150px;
  height: 150px;
  background-color: black;
}
#tt-offline {
  display: none;
  text-align: center;
  margin-top: 55px;
  height: 50%;
  width: inherit;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  z-index:100;
  opacity: 1 !important;
}
#tt-image {
  float: right;
  height: 150px;
  width: 267px;
}
#sponsor-logos {
  width: 22%;
  text-align: center;
  float: right;
}
#sponsor-logo-satapps {
  height: 60px;
  width: 167px;
  padding-top: 1.4em;
}
#sponsor-logo-goonhilly {
  height: 55px;
  width: 179px;
  padding-top: 0.6em;
}
